.chat-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  height: 800px;
  width: 600px;
}

.chat-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  height: 75%;
}

.chat-scroll {
  width: 70%;
}

/* .members-list-item img{
  width: 50%;
  height: 50%;
} */

.chat-log {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  flex-direction: column;
  padding: 1em;
  margin-right: 0.5em;
  /* width: 70%;
  overflow-y: auto; */
}

.chat-item {
  display: flex;
  flex-direction: row;
  position: relative;
}

.chat-avatar {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.chat-item:hover .chat-message-time {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.chat-message-time {
  display: none;
}

.input-box {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
}

.members-list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1em;
  width: 30%;
}

.members-list-item {
  display: flex;
  flex-direction: row;
}

.members-list-avatar {
  border: 3px solid sandybrown;
  width: 50px;
  height: 50px;
}

.avatar-online {
  border: 3px solid greenyellow;
}

.member-item-online {
  order: -1;
}