.wrapper {
  display: flex;
  position: absolute;
  /* left: 320px; */
  left: 320px;
  right: 0;
  width: 100%;
  height: 100vh;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: calc(275px + 1.5em);
  right: calc(325px + 1.5em);
  height: calc(100vh - 3em);
  width: calc(100% - ((275px + 1.5em) + (325px + 1.5em)));
  margin: 1.5em 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.dashboard-top {
  display: flex;
  height: 50%;
  width: 100%;
}

.dashboard-bottom {
  display: flex;
  height: 50%;
  width: 100%;
}

.badge-danger {
  margin: 0.5em;
  font-size: 16px !important;
  width: 50%;
  margin: auto;
}

.new-task-btn {
  color: white;
}

.react-tabs {
  position: relative;
}

.react-tabs__tab {
  margin: 0 0.25em;
}

.react-tabs__tab--selected {
  border-color: white !important;
  background-color: #E6E6E6 !important;
  border-radius: 15px !important;
}

.react-tabs__tab-list {
  margin-right: 0 auto !important;
  border-bottom: none !important;
}

.react-tabs__tab {
  transition: 300ms;
}

.react-tabs__tab:hover {
  background-color: #E6E6E6;
  transition: 300ms;
  border-radius: 15px;
}

.react-tabs__tab-panel > react-tabs__tab-panel--selected {
  width: 100%;
}

.project-progress {
  display: flex;
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
  height: 100%;
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}

.employee-chart {
  display: flex;
  flex-direction: column;
  width: 80% !important; 
  border-radius: 25px;
  background-color: white;
  padding: 1em;
  transition: 300ms;
  height: calc(100% - 1em);
  margin: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.employee-progress {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  margin: auto;
}

.independent-progress {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  /* margin: auto auto; */
}

.pie-chart {
  position: relative;
  margin: 1.5em auto;
  width: 50%;
  max-width: calc((100vw - ((325px + 275px) + 20%)) / 2);
  height: calc(50vh - (1.5em + 1.5em + 1.5em + 4.5em) - 10px);
  max-height: calc(50vh - (1.5em + 1.5em + 1.5em + 4.5em) - 10px);
}

.radar-chart {
  position: relative;
  margin: 1.5em auto;
  width: 50%;
  max-width: calc((100vw - ((325px + 275px) + 20%)) / 2);
  height: calc(50vh - (1.5em + 1.5em + 1.5em + 4.5em) - 10px);
  max-height: calc(50vh - (1.5em + 1.5em + 1.5em + 4.5em) - 10px);
}

.line-chart {
  position: relative;
  margin: 1.5em auto;
  width: 50%;
  max-width: calc((100vw - ((325px + 275px) + 20%)) / 2);
  height: calc(50vh - (1.5em + 1.5em + 1.5em) - 10px);
  max-height: calc(50vh - (1.5em + 1.5em + 1.5em + 2em) - 10px);
}

.bar-chart {
  position: relative;
  margin: 1.5em auto;
  width: 50%;
  max-width: calc((100vw - ((325px + 275px) + 20%)) / 2);
  height: calc(50vh - (1.5em + 1.5em + 1.5em) - 10px);
  max-height: calc(50vh - (1.5em + 1.5em + 1.5em + 2em) - 10px);
}



/* Media queries start here */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1300px) {
  /* for laptops */
  .dashboard-main {
    right: 0;
    width: calc(100% - ((275px + 1.5em)));
  }

  .employee-progress {
    flex-direction: column;
    align-content: center;
    overflow: auto;
    height: 41vh;
  }

  .independent-progress {
    flex-direction: column;
    align-content: center;
    overflow: auto;
    height: 45vh;
  }

  .pie-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }

  .radar-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }

  .line-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }

  .bar-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 1900px) {
  .employee-progress {
    flex-direction: column;
    align-content: center;
    overflow: auto;
    height: 41vh;
  }

  .pie-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }

  .radar-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }

  .independent-progress {
    flex-direction: column;
    align-content: center;
    overflow: auto;
    height: 45vh;
  }

  .line-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }

  .bar-chart {
    width: 100%;
    max-width: calc(100vw - (275px + 20%));
  }
}