/* .container {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  width: 100% !important;
  height: 100% !important;
} */

.dashboard-main {
  display: flex;
  flex-direction: column;
}


.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* width: calc(100% - 325px); */
}

.dashboard-top {
  display: flex;
  height: 50%;
  width: 100%;
}

.dashboard-bottom {
  display: flex;
  height: 50%;
  width: 100%;
}

.project-progress {
  display: flex;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
  height: 100%;
  width: 100%;
}

.project-progress:hover {
  display: flex;
  border-radius: 20px;
  /* background-color: #E6E6E6; */
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.react-tabs {
  height: 100%;
  width: 100%;
}

.employee-progress {
  display: flex;
  border: 1px solid  white;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
  height: 48vh;
  width: 100%;
}

.employee-progress:hover {
  display: flex;
  border-radius: 20px;
  /* background-color: #E6E6E6; */
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.employee-progress > canvas {
  margin: auto;
  width: 75%;
}

.badge-danger {
  margin: 0.5em;
  font-size: 20px !important;
}

.new-task-btn {
  color: white;
}

.react-tabs {
  width: 100%;
}

.employee-chart {
  margin: auto;
  width: 75%;
  min-width: 50%;
}

.task-dashboard-top {
}

.task-dashboard-bottom {
}

.react-tabs__tab-list {
  border-bottom: 1px solid #286FEA !important;
}

.react-tabs__tab--selected {
  border-color: #286FEA !important;
}

.react-tabs__tab:hover {
  border-color: #286FEA !important;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.react-tabs__tab-list {
  margin-right: 1.5em !important;
}

.react-tabs__tab {
  transition: 300ms;
}

.react-tabs__tab:hover {
  background-color: #E6E6E6;
  transition: 300ms;
  border-radius: 4px;
}
