/* .container {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  width: 100% !important;
  height: 100% !important;
} */

.dashboard-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 320px;
  right: 400px;
}

.user__info {
  position: fixed;
  display: flex;
  background-color: #E6E6E6;
  border-radius: 20px;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  right: 0;
  width: 400px;
  /* width: calc(100% - 325px - 325px);
  left: 1500px; */
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  /* width: calc(100% - 325px); */
}

.dashboard-top {
  display: flex;
}

.dashboard-bottom {
  display: flex;
}

.employee-progress {
  display: flex;
  flex-direction: row;
}

.project-progress {
  display: flex;
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.project-progress:hover {
  display: flex;
  border-radius: 20px;
  /* background-color: #E6E6E6; */
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.employee-progress {
  display: flex;
  border: 1px solid  white;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.employee-progress:hover {
  display: flex;
  border-radius: 20px;
  /* background-color: #E6E6E6; */
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.employee-progress > canvas {
  margin: auto;
  width: 75%;
}

.badge-danger {
  margin: 0.5em;
  font-size: 20px !important;
}

.new-task-btn {
  color: white;
}

.react-tabs {
  width: 100%;
}

.employee-chart {
  margin: auto;
  width: 75%;
  min-width: 50%;
}