.container {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  width: 100% !important;
  height: 100% !important;
}

.dashboard {
  margin-left: 1.5em;
}

.dashboard-top {
  display: flex;
}

.dashboard-bottom {
  display: flex;
}

.employee-progress {
  display: flex;
  flex-direction: row;
}

.task-progress {
  display: flex;
  border-radius: 20px;
  background-color: #E6E6E6;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.project-progress {
  display: flex;
  border: 1px solid white;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.project-progress:hover {
  display: flex;
  border-radius: 20px;
  background-color: #E6E6E6;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.employee-progress {
  display: flex;
  border: 1px solid  white;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}

.employee-progress:hover {
  display: flex;
  border-radius: 20px;
  background-color: #E6E6E6;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
}