.login-container {
  background: linear-gradient(to left, hsl(241, 96%, 56%), hsl(266, 100%, 57%));
	width: 100%;
	height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login {
  border: 4px solid white;
  border-radius: 20px;
  padding: 5em;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  /* margin-top: 10%;
  margin-left: 30%; */
  margin: 10% auto;
}

.login > h1 {
  display: flex;
  margin-bottom: 1em;
  color: white;
  font-weight: 800;
  justify-content: center;
}

.login > input {
  border: 1px solid white;
  border-radius: 10px;
}

.login > input:focus {
  text-align: center;
  outline: none;
  border: 1px solid white;
  border-radius: 10px;
}

.login-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 1em;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.login-button:hover {
  transition: 300ms;
  color: white;
  background: hsl(217, 85%, 56%);
  box-shadow: 0 0 10px hsl(217, 85%, 56%), 0 0 40px hsl(217, 85%, 56%), 0 0 80px hsl(217, 85%, 56%);
  border-radius: 6px;
  padding: 1em;
  text-align: center;
  font-weight: 800;
}

.login-button > span {
  position: absolute;
  display: block;
}

.login-button > span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,hsl(217, 85%, 56%));
  animation: animate1 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate1
{
  0%
  {
    left: -100%;
  }
  50%, 100%
  {
    left: 100%;
  }
}

.login-button > span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,hsl(217, 85%, 56%));
  animation: animate2 1s linear infinite;
}

@keyframes animate2
{
  0%
  {
    top: -100%;
  }
  50%, 100%
  {
    top: 100%;
  }
}

.login-button > span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,hsl(217, 85%, 56%));
  animation: animate3 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate3
{
  0%
  {
    right: -100%;
  }
  50%, 100%
  {
    right: 100%;
  }
}

.login-button > span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,hsl(217, 85%, 56%));
  animation: animate4 1s linear infinite;
}

@keyframes animate4
{
  0%
  {
    bottom: -100%;
  }
  50%, 100%
  {
    bottom: 100%;
  }
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.box-area > li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area > li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area > li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area > li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area > li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area > li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area > li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

@media only screen and (max-width: 1300px) {
  .login {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .login {
    width: 75%;
  }
}