.my-team-header {
  text-align: center;
  padding: 0.3em 0 0.6em 0;
  height: 15%;
  font-size: 2.5em;
}

/* .team-list-container {
  height: 85%;
  border-radius: 20px;
  background-color: white;
  margin: 0 1em 0 1em;
  overflow-y: scroll;
} */

.team-list-container::-webkit-scrollbar {
  display: none;
}

.team-list {
  display: flex;
  flex-direction: column;
  /* flex-flow: wrap; */
  height: 100%;
  width: 100%;
  /* padding: 1em 2em; */
  transition: 300ms;
}

.my-team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* padding: 1em 1em 1em 2em; */
  border-radius: 1em;
  margin: auto;
}

.my-team-item-avatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  transition: 200ms;
  filter: opacity(50%);
  margin: auto;
}

.my-team-item:hover .my-team-item-avatar {
  width: 4.3em;
  height: 4.3em;
  filter: opacity(100%);
  cursor: pointer;
  /* background-color: rgb(231, 231, 231); */
}

.my-team-item-right {
  margin: auto;
}

.my-team-item-name {
  /* font-size: 1.2em; */
  margin: auto;
}

.my-team-item-details {
  font-size: 0.8em;
  padding-left: 0.5em;
}

.team-list-container.change {
  display: inline-block;
}

.team-list-container {
  position: absolute;
  display: none;
  top: 0;
  right: 0px;
  background-color: white;
  height: 50vh;
  width: 135px;
  z-index: 100;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

