.submissions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* width: calc(100% - 325px); */
}

.submissions {
  display: flex;
  width: 75%;
  margin: 0 auto;
  height: 100%;
}

.submissions-list {
  display: flex;
  border-radius: 20px;
  background-color: rgba(229, 233, 236, 0.35);
  flex-direction: column;
  padding: 1em;
  text-align: center;
  width: 100%;
  max-height: 100%;
  /* overflow: auto; */
}

.submissions-list-item {
  list-style: none;
  margin-right: 2em;
  margin-top: 2em;
  border-radius: 20px;
  padding: 2em 1em 1em 1em;
  background-color: #F0D58E;
  border-color: #F0D58E;
  transition: 300ms;
  cursor: pointer;
}

.submissions-list-item:hover {
  list-style: none;
  margin-right: 2em;
  margin-top: 2em;
  border-radius: 20px;
  background-color: #F0BA2D;
  border-color: #F0BA2D;
  transition: 300ms;
  cursor: pointer;
}

.task-title {
  margin-bottom: 0.5em;
}

.task-description {
  margin-bottom: 0;
  padding: 1em 2em 0.5em 2em;
  text-align: left;
}