.task-progress {
  display: flex;
  width: 100%;
  border-radius: 20px;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  overflow: hidden;
}

.team-list {
  display: flex;
  width: 100%;
  border-radius: 20px;
  background-color: #E6E6E6;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
  align-content: center;
  overflow: auto;
}

.team-item {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #B0BDFF;
  padding: 1em;
  margin-top: 0.5em;
  list-style: none;
  transition: 300ms;
  cursor: pointer;
}

.team-item:hover {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #4374FF;
  padding: 1em;
  margin-top: 0.5em;
  list-style: none;
  transition: 300ms;
  cursor: pointer;
}

.task__item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0.5em 0.5em;
  margin-bottom: 1em;
  justify-content: space-between;
  
  border-radius: 20px;
  transition: 200ms;
  cursor: pointer;
}

.task__item--late:hover,
.task__item--assigned:hover,
.task__item--in-progress:hover {
  margin-right: 1em;
}

.task__item--late {
  background-color: #FFBFBF;
}

.task__item--late:hover {
  background-color: #FF7171;
}

.task__item--assigned {
  background-color: #B2C8FF;
}

.task__item--assigned:hover {
  background-color: #6792FF;
}

.task__item--in-progress {
  background-color: #E6E79C;
}

.task__item--in-progress:hover {
  background-color: #E5E737;
}

.task__item--in-review {
  background-color: #F0D58E;
}

.task__item--in-review:hover {
  background-color: #F0BA2D;
}

.task__item--in-review-late {
  background-color: #C4ACFC;
}

.task__item--in-review-late:hover {
  background-color: #8856FD;
}

.task__item--complete {
  background-color: #A8EEA7;
}

.task__item--complete:hover {
  background-color: #57DC55;
}

.task-assigned {
  width: 33%;
  overflow: auto;
}

.task-inprogress {
  width: 33%;
  overflow: auto;
}

.task-completed {
  width: 33%;
  overflow: auto;
}

.task-droppable-inprogress {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}