.task-progress {
  display: flex;
  border-radius: 20px;
  background-color: #E6E6E6;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  max-height: 50vh;
  max-width: 100vh;
  overflow: auto;
}

.team-list {
  display: flex;
  border-radius: 20px;
  background-color: #E6E6E6;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  transition: 300ms;
  width: 100vh;
  align-content: center;
  max-height: 50vh;
  overflow: auto;
}

.team-item {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #B0BDFF;
  padding: 1em;
  margin-top: 0.5em;
  list-style: none;
  transition: 300ms;
  cursor: pointer;
}

.team-item:hover {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #4374FF;
  padding: 1em;
  margin-top: 0.5em;
  list-style: none;
  transition: 300ms;
  cursor: pointer;
}

.task-assigned {
  display: flex;
  flex-direction: column;
}

.task__item {
  display: flex;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  background-color: #FFBFBF;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  transition: 300ms;
  cursor: pointer;
}

.task__item:hover {
  display: flex;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  background-color: #FF7171;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  transition: 300ms;
  cursor: pointer;
}

.task__item--assigned {
  display: flex;
  border: 5px solid #B2C8FF;
  border-radius: 20px;
  background-color: #B2C8FF;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--assigned:hover {
  display: flex;
  border: 5px solid #6792FF;
  border-radius: 20px;
  background-color: #6792FF;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--in-progress {
  display: flex;
  border: 5px solid #E6E79C;
  border-radius: 20px;
  background-color: #E6E79C;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--in-progress:hover {
  display: flex;
  border: 5px solid #E5E737;
  border-radius: 20px;
  background-color: #E5E737;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--in-review {
  display: flex;
  border: 5px solid #F0D58E;
  border-radius: 20px;
  background-color: #F0D58E;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--in-review:hover {
  display: flex;
  border: 5px solid #F0BA2D;
  border-radius: 20px;
  background-color: #F0BA2D;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--in-review-late {
  display: flex;
  border: 5px solid #C4ACFC;
  border-radius: 20px;
  background-color: #C4ACFC;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--in-review-late:hover {
  display: flex;
  border: 5px solid #8856FD;
  border-radius: 20px;
  background-color: #8856FD;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--complete {
  display: flex;
  border: 5px solid #A8EEA7;
  border-radius: 20px;
  background-color: #A8EEA7;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.task__item--complete:hover {
  display: flex;
  border: 5px solid #57DC55;
  border-radius: 20px;
  background-color: #57DC55;
  flex-direction: row;
  padding: 1em;
  margin-right: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}